<!doctype html>
<html lang="es">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  {% load static %}

  <title>ReEstrena</title>

  <!-- CSS de Leaflet desde CDN -->
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />

  <!-- CSS de tu proyecto -->
  <link rel="stylesheet" href="{% static 'PI/css/styles.css' %}">
</head>
<body>
<header>
  <h1>ReEstrena</h1>
</header>

<main>
  {% block content %}{% endblock %}
</main>

<!-- JS de Leaflet desde CDN -->
<script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>

<!-- JS de tu proyecto -->
<script src="{% static 'PI/js/app.js' %}"></script>

</body>
</html>
