{% extends 'PI/base.html' %}

{% block content %}
{% if user.is_authenticated %}

  <p> Bienvenido, {{ user.username }}</p>

  <div style="text-align: right; margin-bottom: 10px;">
      <!-- Botón Publicar -->
      <a href="{% url 'inicio_sesion:publicar_objeto' %}" class="btn-verde">Publicar prenda</a>

      <!-- Botón Ver Objetos -->
      <a href="{% url 'inicio_sesion:listar_objetos' %}" class="btn-azul">Ver objetos publicados</a>
      
      <!-- Botón Cerrar sesión -->
      <form action="{% url 'inicio_sesion:logout_usuario' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="btn-rojo">Cerrar sesión</button>
      </form>
  </div>

  <h2>Funciona ✅</h2>

  <!-- Contenedor del mapa -->
  <div id="map" style="height: 400px;"></div>
  <div id="cards"></div>

{% else %}
  <p>Debes iniciar sesión para ver el mapa.</p>
  <a href="{% url 'inicio_sesion:login' %}">Iniciar sesión</a>
{% endif %}
{% endblock %}





